body {
	padding-top: 70px;
}

ul.categories li {
	border: solid #ccc 1px;
	border-radius: 10px;
	float: left;
	height: 150px;
	list-style: none;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 150px;
}
