body {
  background-color: #eee;
  padding-bottom: 40px;
  padding-top: 40px;
}

.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-control {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  position: relative;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type='email'] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}

.form-signin input[type='password'] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}
